<%- include('../partials/header') %>

<h3>Edit Skill</h3>
<form action="/todos" method="POST" autocomplete="off">
    <input type="text" value="<%- Skill.id %>">
    <input type="text" value="<%- Skill.familiarity %>">
    <input type="text" value="<%- Skill.Years %>">
    <button type="submit">Update Skill</button>
</form>

<%- include('../partials/footer') %>