<%- include('../partials/header') %>
    <h1>Skills Baby</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.id %></a>
                 - 
                <%= s.familiarity %>
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>