<%- include('../partials/header') %>

    <h2>My Skill in <%= skill.id %>:</h1>
    <h3>Familiarity: <%= skill.familiarity %></h3>
    <h3>Years Experience: <%= skill.years %></h3>

<%- include('../partials/footer') %>