<%- include('../partials/header') %>

    <h2>My Skill in <%= skill.id %>:</h1>
    <h3>Familiarity: <%= skill.familiarity %></h3>
    <h3>Years Experience: <%= skill.years %></h3>
    <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit">Delete Skill</button>
    </form>
<%- include('../partials/footer') %>